.preview-news-container {
  /* Các style hiện có của bạn cho preview-news-container */
  background-color: white; /* ví dụ */
  padding: 1rem; /* ví dụ */
  max-height: 80vh; /* ví dụ */
  overflow-y: auto; /* ví dụ */

  transform: scale(1); /* Hiển thị kích thước gốc */
  /* transform-origin:top; */ /* Có thể không cần thiết nếu scale là 1 */
}
.preview-news-container::-webkit-scrollbar {
  width: 6px;
  z-index: -1;
}
.preview-news-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
.preview-news-container::-webkit-scrollbar-track {
  margin-top: 20px;
}